{% extends 'base.html' %}
{% load static %}
{% block body %}
	<!--single-page-->
	<div class="single-page main-grid-border">
		<div class="container">
			<ol class="breadcrumb" style="margin-bottom: 5px;">
				<li><a href="/">Home</a></li>
				<li><a href="{% url 'products:product_list' %}">All Ads</a></li>
				<li class="active">Mobile Phone</li>
			</ol>
			<div class="product-desc">
				<div class="col-md-7 product-view">
					<h2>{{product_detail.name}}</h2>
					<p> <i class="glyphicon glyphicon-map-marker"></i>&nbsp;<a href="#">{{product_detail.city}}</a>| Added at {{product_detail.created}}</p>
					<div class="flexslider">
						<ul class="slides">
                            
                            
                                
                                 
                            {% for image in product_images %}
                                                        
                                <li data-thumb="{{image.image.url}}">
                                    <img src="{{image.image.url}}" />
                                </li> 

                            {% endfor %}
						</ul>
					</div>
					<!-- FlexSlider -->
					  <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
					<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />

						<script>
					// Can also be used with $(document).ready()
					$(window).load(function() {
					  $('.flexslider').flexslider({
						animation: "slide",
						controlNav: "thumbnails"
					  });
					});
					</script>
					<!-- //FlexSlider -->
					<div class="product-details">
					 <h4>Status : <a href="#">{{product_detail.status}}</a></h4>
					      <img>{{product_detail.image}}</img>
						<h4>Brand : <a href="#">{{product_detail.brand}}</a></h4>
						<h4>Views : <strong>150</strong></h4>
						<p><strong>Summary</strong> {{product_detail.description}}</p>
					
					</div>
				</div>
				<div class="col-md-5 product-details-grid">
					<div class="item-price">
						<div class="product-price">
							<p class="p-price">Price</p>
							<h3 class="rate">KES. {{product_detail.price}}</h3>
							<div class="clearfix"></div>
						</div>
						<div class="condition">
							<p class="p-price">Condition</p>
							<h4>{{product_detail.condition}}</h4>
							<div class="clearfix"></div>
						</div>
						<div class="itemtype">
							<p class="p-price">Item Type</p>
							<h4>{{product_detail.category}}</h4>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="interested text-center">
						<h4>Interested in this Ad?<small> Contact the Seller!</small></h4>
				<p><i class="glyphicon glyphicon-earphone"></i>&nbsp;+254{{product_detail.phone}}</p>
					</div>
						<div class="tips">
						<h4>Safety Tips for Buyers</h4>
							<ol>
								<li>Do not pay money in advance.</li>
								<li>Confirm that the product you want is still avaible before embarking to meet the seller.</li>
								<li>Meet in an open space where people can watch you.</li>
								<li>Do thorough assesment that the seller is true owner of the item.</li>
								<li>Inspect product thoroughly to see that it matched with the picture and description or for damaged parts.</li>
								<li>If possible ask for reciept of payment or an other document to gain ownership of the item.</li>
								<li>Always red flag hurrried transactions.</li>
								<li>If possible have one or more witness(es) while making transactions.</li>
								<li>Report any fraud case(es) using any of our contact details provided below.</li>
							</ol>
						</div>
				</div>
			<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--//single-page-->

{% endblock body %}
