{% extends 'base2.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}

 <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
      
        <h2 class="mt-5 text-center">Edit Profile</h2>
        
        {% if messages %}
          {% for message in messages %}
          <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
          </div>
          {% endfor %}
        {% endif %}
        
        <form action="{% url 'accounts:profile' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }}
              {{ field }}
            </div>
          {% endfor %}
          <input type="submit" value="submit" class="btn btn-secondary">
        </form>
        
        
      </div>
    </div>
  </div>
      
   
   
{% endblock %}

